<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_Rocky</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm  border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse  justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="navbarDropDown" href="#" aria-expanded="false">Buy</a>
                             <ul class="dropdown-menu"  aria-labelledby="navbarDropDown">
                                <span><p>Homes for sale</p></span>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Homes for sale</a></li>
                                <li><a class="dropdown-item" href="#">Foreclosures</a></li>
                                <li><a class="dropdown-item" href="#">For sale by owner</a></li>
                                <li><a class="dropdown-item" href="#">Open houses</a></li>
                                <li><a class="dropdown-item" href="#">All homes</a></li>
                             </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="navbarDropDown" href="#" aria-expanded="false">Rent</a>
                             <ul class="dropdown-menu"  aria-labelledby="navbarDropDown">
                                <span><p>Search for rentals</p></span>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Rental building</a></li>
                                <li><a class="dropdown-item" href="#">Apartements for rent</a></li>
                                <li><a class="dropdown-item" href="#">Houses for rent</a></li>
                                <li><a class="dropdown-item" href="#">Your rental</a></li>
                                <li><a class="dropdown-item" href="#">All rental listings</a></li>
                                <li><a class="dropdown-item" href="#">All rental buildings</a></li>
                             </ul>
                        </li>
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="navbarDropDown" href="#" aria-expanded="false">Sell</a>
                             <ul class="dropdown-menu"  aria-labelledby="navbarDropDown">
                                <span><p>Resources</p></span>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Explore your options</a></li>
                                <li><a class="dropdown-item" href="#">See your homes estimate</a></li>
                                <li><a class="dropdown-item" href="#">Home values</a></li>
                                <li><a class="dropdown-item" href="#">Sellers guide</a></li>
                             </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="navbarDropDown" href="#" aria-expanded="false">Agent finder</a>
                             <ul class="dropdown-menu"  aria-labelledby="navbarDropDown">
                                <span><p>Looking for pros?</p></span>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Real estate agent</a></li>
                                <li><a class="dropdown-item" href="#">Property managers</a></li>
                                <li><a class="dropdown-item" href="#">Home inspectors</a></li>
                             </ul>
                        </li>
                        <div class="vl"></div>
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="navbarDropDown" href="#" aria-expanded="false">Manage Rentals</a>
                             <ul class="dropdown-menu"  aria-labelledby="navbarDropDown">
                                <span><p>List a rental</p></span>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">List a rental</a></li>
                                <li><a class="dropdown-item" href="#">My listings</a></li>
                                <li><a class="dropdown-item" href="#">Leases</a></li>
                                <li><a class="dropdown-item" href="#">Payments</a><li>  
                             </ul>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" r href="#">Advertise</a>
                         <li> <li class="nav-item">
                            <a class="nav-link" r href="#">Sign in</a>
                         <li>
                    </ul>
                </div>
                <div class="brand">
                     <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Project_Rocky</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid box-width percentage" style="padding-top:-18px; margin-top:-18px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">

@*         
        <div class="footer-image-container">
            <img class="img-responsive footer-image" width="100%" id="footerImage" src="https://s.zillowstatic.com/pfs/static/footer-art.svg">
        </div> *@
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
