@{
    ViewData["Title"] = "Home Page";
}

<div class="full-width-image">
    <img src="https://imgs.search.brave.com/wyCExr2tdBaxbzv45qXtlLEfsyUg99B_HVxrfoJL5O4/rs:fit:1095:420:1/g:ce/aHR0cHM6Ly93d3cu/cmVhbGVzdGF0ZS1l/dC5jb20vd3AtY29u/dGVudC91cGxvYWRz/L1dQTC80L3RoaW1n/XzIwMTUtMTMtMDMt/cmVhbC1lc3RhdGUt/aW4tZXRoaW9waWEt/dmlsbGEtZm9yLXNh/bGUtaW4tYm9sZS1p/bWFnZS0wMV8xMDk1/eDQyMC5qcGc" class="image-fluid"  alt="icon"> 
    <div class="row height d-flex justify-content-center align-items-center" id="searchBox">
         <div class="col-md-8">
            <div  id="searchTxt">Find it.Tour it.Own it.</div>
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Enter an address,neighborhood,city,or ZIP code">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
   </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4" id="card">
  <div class="col">
    <div class="card">
      <img src="https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/07/Buy_a_home.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Buy a home</h5>
        <p class="card-text">Find your place with an immersive photo experience and the most listings, including things you wont find anywhere else.</p>
      </div>
      <div class="btn" id="btn">
        <button type="button" class="btn btn-outline-primary">Browse Homes</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>

