@{
    ViewData["Title"] = "Home Page";
}

<div class="full-width-image">
    <img src="https://imgs.search.brave.com/wyCExr2tdBaxbzv45qXtlLEfsyUg99B_HVxrfoJL5O4/rs:fit:1095:420:1/g:ce/aHR0cHM6Ly93d3cu/cmVhbGVzdGF0ZS1l/dC5jb20vd3AtY29u/dGVudC91cGxvYWRz/L1dQTC80L3RoaW1n/XzIwMTUtMTMtMDMt/cmVhbC1lc3RhdGUt/aW4tZXRoaW9waWEt/dmlsbGEtZm9yLXNh/bGUtaW4tYm9sZS1p/bWFnZS0wMV8xMDk1/eDQyMC5qcGc" class="image-fluid"  alt="icon"> 
    
</div>

