@{
    ViewData["Title"] = "Home Page";
}

<div class="full-width-image">
    <div class="row height d-flex justify-content-center align-items-center" id="searchBox">
         <div class="col-md-8">
            <div  id="searchTxt">Find it.Tour it.Own it.</div>
            <div class="search">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Enter an address,neighborhood,city,or ZIP code">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
   </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 justify-content-between d-flex justify-content-center" id="card">
  <div class="col">
    <div class="card">
      <img src="https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/07/Buy_a_home.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Buy a home</h5>
        <p class="card-text">Find your place with an immersive photo experience and the most listings, including things you wont find anywhere else.</p>
      </div>
      <div class="btn" id="btn">
        <button type="button" class="btn btn-outline-primary">Browse Homes</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/07/Sell_a_home.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sell a Home</h5>
        <p class="card-text">No matter what path you take to sell your home, we can help you navigate a successful sale.</p>
      </div>
       <div class="btn" id="btn">
        <button type="button" class="btn btn-outline-primary">See Your Options</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://wp-tid.zillowstatic.com/bedrock/app/uploads/sites/5/2022/08/Rent_a_home.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rent a Hose</h5>
        <p class="card-text">Your next place is closer than you think. Explore the possibilities, and discover a rental you’ll love.</p>
      </div>
      <div class="btn" id="btn">
          <button type="button" class="btn btn-outline-primary">Find Rental</button>
      </div>
    </div>
  </div>
</div>
<div class="wrapper d-flex justify-content-center">
    
    <button type="button" class="btn btn-light bg-white" id="btnRealEstate" data-toggle="collapse" href="#realEstate">Real Estate 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
       
    </button>
    <div class="vl2"></div>
     <button type="button" class="btn btn-light bg-white" data-toggle="collapse" href="#rentals">Rentals 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
        
    </button>
    <div class="vl2"></div>
     <button type="button" class="btn btn-light bg-white" data-toggle="collapse" href="#mortgageRates">Mortgage Rates
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
        
    </button>
    <div class="vl2"></div>
     <button type="button" class="btn btn-light bg-white" data-toggle="collapse" href="#homes">Browse Homes
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-chevron-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
        
    </button>

</div>
<div id="listing" class="d-flex ">
  <div class="list collapse" id="realEstate">
     <ul>
                    <li><a class="link-dark" href="#">About</a></li>
                    <li><a  class="link-dark" href="#">Zestimates</a></li>
                    <li><a class="link-dark" href="#">Research</a></li>
                    <li><a class="link-dark" href="#">Careers</a></li>
                    <li><a class="link-dark" href="#">Help</a></li>
                    <li><a class="link-dark" href="#">Advertise</a></li>
                    <li><a class="link-dark" href="#">Fair Housing Guide</a></li>
                    <li><a class="link-dark" href="#">Terms of use</a></li>
                    <li><a class="link-dark" href="#">Privacy Portal</a></li>
                    <li><a class="link-dark" href="#">Cookie Preference</a></li>
                    <li><a class="link-dark" href="#">AI</a></li>
                    <li><a class="link-dark" href="#">Mobile Apps</a></li>
     </ul>
  </div>
  <div class="list collapse" id="rentals">
     <ul>
                    <li><a class="link-dark" href="#">About</a></li>
                    <li><a class="link-dark" href="#">Zestimates</a></li>
                    <li><a class="link-dark" href="#">Research</a></li>
                    <li><a class="link-dark" href="#">Careers</a></li>
                    <li><a class="link-dark" href="#">Help</a></li>
                    <li><a class="link-dark" href="#">Advertise</a></li>
                    <li><a class="link-dark" href="#">Fair Housing Guide</a></li>
                    <li><a class="link-dark" href="#">Terms of use</a></li>
                    <li><a class="link-dark" href="#">Privacy Portal</a></li>
                    <li><a class="link-dark" href="#">Cookie Preference</a></li>
                    <li><a class="link-dark" href="#">AI</a></li>
                    <li><a class="link-dark" href="#">Mobile Apps</a></li>
     </ul>
  </div>
  <div class="list collapse" id="mortgageRates">
     <ul>
                    <li><a class="link-dark" href="#">About</a></li>
                    <li><a class="link-dark" href="#">Zestimates</a></li>
                    <li><a class="link-dark" href="#">Research</a></li>
                    <li><a class="link-dark" href="#">Careers</a></li>
                    <li><a class="link-dark" href="#">Help</a></li>
                    <li><a class="link-dark" href="#">Advertise</a></li>
                    <li><a class="link-dark" href="#">Fair Housing Guide</a></li>
                    <li><a class="link-dark" href="#">Terms of use</a></li>
                    <li><a class="link-dark" href="#">Privacy Portal</a></li>
                    <li><a class="link-dark" href="#">Cookie Preference</a></li>
                    <li><a class="link-dark" href="#">AI</a></li>
                    <li><a class="link-dark" href="#">Mobile Apps</a></li>
     </ul>
  </div>
  <div class="list collapse" id="homes">
     <ul>
                    <li><a class="link-dark" href="#">About</a></li>
                    <li><a class="link-dark" href="#">Zestimates</a></li>
                    <li><a class="link-dark" href="#">Research</a></li>
                    <li><a class="link-dark" href="#">Careers</a></li>
                    <li><a class="link-dark" href="#">Help</a></li>
                    <li><a class="link-dark" href="#">Advertise</a></li>
                    <li><a class="link-dark" href="#">Fair Housing Guide</a></li>
                    <li><a class="link-dark" href="#">Terms of use</a></li>
                    <li><a class="link-dark" href="#">Privacy Portal</a></li>
                    <li><a class="link-dark" href="#">Cookie Preference</a></li>
                    <li><a class="link-dark" href="#">AI</a></li>
                    <li><a class="link-dark" href="#">Mobile Apps</a></li>
     </ul>
  </div>
</div>
