/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size:  33px;
  color: #0619d2;
  font-weight:800;
}

.vl {
  border-left: 4px solid white;
  height: 40px;
}
.navbar{
  /* background: linear-gradient(310deg,rgb(9, 132, 227),rgb(45, 52, 54)); */
  background: #30E8BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ece9e3, #c0beb9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ece9e3, #c0beb9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.brand .navbar-brand:hover{
  color:whitesmoke;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu
{margin-top: 0;}  
/* Provide sufficient contrast against white background */
a {
  color: gray;
}
span>p {
  font-weight:600;
  padding-left: 10px;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.nav-link{
  font-weight: 500;
  font-size: 17px;
  color:#080808;
}
.nav-link:hover{
  font-weight: 600;
  border-bottom:5px solid #FA8128;
  color:#FA8128;
}
.dropdown-menu:hover{
  font-weight: 600;
  border-bottom:5px solid #FA8128;
  color:#FA8128;
}
.dropdown-toggle::after {
  content: none;
}
/* .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* .border-top {
  border-top: 1px solid #c0beb9;
}
.border-bottom {
  border-bottom: 1px solid #c0beb9;
} */

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  background-color:white;
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  margin-top: -17px;
  height: auto;
 
}
.footer-text {
  height: auto;
  display: inline-block;
  white-space:normal;
}
.footer-text p{
  height: auto;
  font-size:10px;
  text-align: center;
  padding-left: 45px;
}
.links{
  margin-left: 40px;
  border-top: 1px solid #c0beb9;
  border-bottom: 1px solid #c0beb9;
}
.links ul > li {
  list-style:none;
  display:inline-block;
  margin: 10px;
}
.mdi-36px {
  font-size: 39px;
  margin-right:10px;
}
.footer-image{
  background-image: url('https://s.zillowstatic.com/pfs/static/footer-art.svg');
  height: 160px;
  margin-top: 115px;
  margin-bottom:-61px;
}
.social-links{
  margin: 0 auto;
  position: absolute;
  top: 55%;
  left: 36%;
}
#footer-logo{
  margin-left: 50px;
}

/* ---------------------Index-------------------------------- */
.main{
  width: 100%;
}
body{
  background-color:whitesmoke;
}
.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;  
  margin-left: -50vw;
  padding: 0;
  background-image: url('https://i.pinimg.com/564x/86/3d/db/863ddba8b61fd15c21342f212b04ff97.jpg');
  background-position: bottom;
  background-repeat: repeat no-repeat;
  background-color: white;
  /* background-size: 4px 3px; */
  height: 21vw;
}
/* .full-width-image img {
 width: 100%;
 height: 21vw;
} */
#searchBox{
  position:absolute; 
  top:80px;
  left:557px;
  width: 50vw;
}
.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}
.search input{
   height: 60px;
   text-indent: 25px;
   border: 2px solid #d6d4d4;
}
.search input:focus{
   box-shadow: none;
   border: 2px solid blue;
}
.search .fa-search{
   position: absolute;
   top: 10px;
   left: 16px;

}
.search button{
   position: absolute;
   top: 5px;
   right: 5px;
   height: 50px;
   width: 110px;
   background: blue;
}
#searchTxt{
  font-weight: 1000;
  font-size: 30px;
  text-align: center;
  color: #2b2b4d;
}
#card{
  width: 1110px;
  margin-left:443px;
  padding-top: 70px;
  padding-bottom:100px;
}
.card{
  height: 489px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.3s ease-in-out;
}
.card::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.1, 1.1);

}
.card:hover::after {
  opacity: 1;
}
.card-title{
  text-align: center;
  font-weight: 700;
}
.card-img-top{
  height: 186px;
}
#btn{
  padding-bottom: 47px;
}
.wrapper{
  background-color:white;
  height:5vw;
}
.vl2 {
  border-left: 1px solid black;
  height: 40px;
  margin-left:53px;
  margin-right:53px;
  margin-top:25px;
}
.wrapper{
  padding-left: 54px;
  white-space: nowrap;
    
}
.wrapper .btn{
  margin-top:20px;
  height:55%; 
  font-weight:bold; 
  font-size:18px;
  border: none;
}
.wrapper .btn:active,.wrapper button.btn:active, 
.wrapper button.btn:focus, 
.wrapper button.btn:target, 
.wrapper button.btn:active:focus {
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}
.wrapper .btn:hover{
  text-decoration: underline;
}
