/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size:  30px;
}

.vl {
  border-left: 4px solid white;
  height: 40px;
}
.navbar{
  background-image: linear-gradient(-110deg,rgb(9, 132, 227),rgb(45, 52, 54));
}
.brand .navbar-brand:hover{
  color:whitesmoke;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu
{margin-top: 0;}  
/* Provide sufficient contrast against white background */
a {
  color: #fff;
}
span>p {
  font-weight:600;
  padding-left: 10px;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.nav-link{
  font-weight: 500;
  font-size: 17px;
  color:#fff;
}
.nav-link:hover{
  font-weight: 600;
  border-bottom:5px solid #FA8128;
  color:#FA8128;
}
.dropdown-menu:hover{
  font-weight: 600;
  border-bottom:5px solid #FA8128;
  color:#FA8128;
}
.dropdown-toggle::after {
  content: none;
}
/* .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* ---------------------Index-------------------------------- */
.Main-content {
  padding-top: 0;
}
.full-width-image {
  width: 100vw;
  position: relative;
  left: 50%;  
  margin-left: -50vw;
  padding: 0;
}
.full-width-image img {
 width: 100%;
 height: 16vw;
}
#searchBox{
  position:absolute; 
  top:108px;
  left:557px;
  width: 50vw;
}
.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}
.search input{
   height: 60px;
   text-indent: 25px;
   border: 2px solid #d6d4d4;
}
.search input:focus{
   box-shadow: none;
   border: 2px solid blue;
}
.search .fa-search{
   position: absolute;
   top: 10px;
   left: 16px;

}
.search button{
   position: absolute;
   top: 5px;
   right: 5px;
   height: 50px;
   width: 110px;
   background: blue;
}
#searchTxt{
  font-weight: 1000;
  font-size: 30px;
  text-align: center;
  color: #012F43
}
#card{
  position: relative;
  padding-top: 70px;
}
.card{
  height: 440px;
}
.card-title{
  text-align: center;
  font-weight: 700;
}
#btn{
  padding-bottom: 47px;
}
